[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {path = "./flask"}
requests = "*"
prequest = "*"
wtforms = "*"
flask-sqlalchemy = "*"
cymysql = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
